.vp-filter {
    border: 1px solid gray;
    display: inline-block;
    padding: 0 2px;
    margin-left: 5px;
}
.vp-section {
    border-bottom: 1px solid gray;
    padding: 2px 10px;
    margin: 0 10px;
}
