.vp-filter {
    border: 1px solid #408040;
    display: inline-block;
    color: #408040;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
}
.vp-filter:hover {
    background-color: #408040;
    color: lightgreen;
}
.vp-section {
    border-bottom: 1px solid gray;
    padding: 2px 10px;
    margin: 0 10px;
}

.vp-map-table {
    padding: 20px;
}

.vp-map-table table {
    background: url('/i/map0-ny.png') no-repeat;
    background-size: 100% 100%;
}

.vp-map-table table td {
    width: 118px;
    height: 100px;
    vertical-align: top;
    background-color: rgba(208, 245, 208, 0.85);
}
.vp-cell-inner {
    height: 100%;
}

.vp-success-message {
    color: green;
    font-weight: bold;
}

.vp-small {
    font-size: 10px;
}

.vp-center {
    text-align: center;
    height: 30px;
    opacity: 0.3;
}

.vp-has-profit {
    font-weight: bold;
    opacity: 1;
}

.vp-detailed-info {
    text-align: left;
    color: #343434;
}
.vp-detailed-info-line {
    font-size: 7pt;
    padding-left: 5px;
    font-weight: normal;
}

.vp-current-sector {
    color: rgb(255, 4, 4);
    border: 1px dashed #ff0404;
}

.vp-neighbor-sector {
    color: rgb(237, 124, 2);
}

.vp-port-sector {
    border: 1px dashed #220080;
}
.vp-active-link {
    font-weight: bold;
    text-decoration: underline;
}

.vp-transaction-section {
    width: 590px;
}

.vp-transaction-section h3 {
    margin: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid white;
}

.vp-transaction-section--item {
    border-bottom: 2px solid white;
}

.vp-buy-line, .vp-sell-line {
    padding: 3px 15px;
    text-align: left;
    border-bottom: 1px solid white;
}


button[type=button] {
    background-color: #dceddc;
    border: 1px solid #6c7d6a;
    display: inline-block;
    cursor: pointer;
    color: #003300;
    font-size: 12pt;
    padding: 0px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #dcffc4;
    margin-left: 10px;
}
.vp-transaction-section button[disabled] {
    opacity: 0.5;
}

.vp-status-line {
    padding-left: 20px;
    font-size: 8pt;
    color: #003300;
}
.vp-status-line > div {
    border-bottom: 1px dotted #408040;
}
.vp-error {
    color: #ff0404;
    font-weight: bold;
}

.vp-logger-container {
    position: fixed;
    height: 300px;
    width: 300px;
    top: 70px;
    right: 0px;
    border: 1px solid #408040;
    box-shadow: -1px 1px 2px #003300;
    background: #dceddc;
    overflow-y: auto;
    opacity: .4;
}
.vp-logger-container:hover {
    opacity: 1;
}
.vp-logger-line {
    font-size: 8pt;
    line-height: 8pt;
    padding: 2px;
    border-bottom: 1px dotted #408040;
}

.vp-floating-navigation {
    position: absolute;
    top: 70px;
    left: 0;
    border: 1px solid #408040;
    background: #d1e7c6;
    padding: 10px;
    text-align: center;
}
.vp-floating-navigation > div {
    padding: 5px;
}
.vp-floating-navigation button {
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.vp-collected-info {
    border-top: 1px dotted #408040;
    margin-top: 5px;
    padding-top: 5px;
}
